<!DOCTYPE html>
<html>
<head>
	<title>Vuex Example</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
	<div id="app" class="container">
		<div class="row">	
			<div class="col-md-6 col-md-offset-3">		
				<h1>Simple To do Application</h1>
					<span v-if="remaining.length"> Remaining ( {{ remaining.length }} ) </span>

				<ul class="list-group">
				  <li class="list-group-item" v-for="todo in todos">
				    <span class="badge" v-if="todo.completed">Done</span>
				    <span class="badge" v-else>Not Completed</span>

				   	<span class="label label-danger" v-if="todo.completed">&times;</span>
				    {{ todo.todo }}
				    <button 
				    	class="label label-success"
				    	v-if="!todo.completed" 
				    	v-on:click="complete(todo)"
				    >
				  		check
				  	</button>
				  </li>
				</ul>	
			</div>
		</div>
	</div>
	<script type="text/javascript" src="https://unpkg.com/vue@2.0.0-rc.8/dist/vue.js"></script>
	<script type="text/javascript" src="https://unpkg.com/vuex@2.0.0-rc.6"></script>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>